<!DOCTYPE html>
<html>

<%-include ('partials/head.html')%>

<body>
    <%- include ('partials/navigation.html')%>
    
    <div class = "container fluid">
        <header class = "row">
            <div class = "col-lg-12 text-center">
                <img src = "/img/Dant.png" class = "animate__animated animate__bounce">
            </div>
        </header>
    </div>

    <div class = "container-fluid" id = "about">
        <div class = "row bg-dark text-white p-5 text-center">
            <div class = "col-sm-6">
                <a href = "https://www.youtube.com/channel/"><i class = "fa fa-youtube"></i></a>
            </div>
            <div class = "col-sm-6">
                <h3>Welcome to Dant Corp.</h3>
                <p>Suscribe to my youtube channel to see my gameplays!</p>
            </div>

        </div>
    </div>
    <%- include('partials/footer.html') %>
</body>


</html>